@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.link {
  background-color: white;
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  text-decoration: none;

  border-top: solid 1px rgba(0, 0, 0, 0.363);
  width: 100%;

  color: black;
}
.link:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(219, 218, 218, 0.445);
  border-color: #dfdeda;
  cursor: pointer;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #f4f2ee;
}
/* navbar da qui */
.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.divIconsNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 15px;
  font-size: 0.8rem;
}
.formCercaNavbar {
  margin-right: 40px;
  border: none;
  background-color: #edf3f8;
  width: 100%;
  line-height: 1.75;
  font-weight: 400;
  font-size: 14px;
  height: 34px;
  border-radius: 6px;
  color: #edf3f8;
  padding: 0 40px;
}
.networking {
  font-size: 0.8rem;
  color: #915908;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 57px;
}
a#navbarScrollingDropdown {
  padding: 0;
  top: 57px;
  z-index: 99;
  background-color: white;
}

@media screen and (max-width: 992px) {
  a#navbarScrollingDropdown {
    display: none;
  }
}
.perLeAziende {
  border-left: 1px solid #e9e9e9;
  padding: 0px 15px;
}
.imageUserNavbar {
  border-radius: 50%;
  object-fit: cover;
}
.searchIconNavbar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 14px;
  border-radius: 0 2px 2px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdownNavTu {
  font-size: 0.8rem;
  margin-inline: 10px;
}
.dropdownNavButtonDiv {
  display: flex;
  justify-content: center;
}
.dropdownNavButton {
  padding: 0;
  width: 94%;
  border-radius: 20px;
  font-weight: 600;
}
.titleDropdownNav {
  font-weight: 700;
}
.textColorLightGrey {
  color: #7c7c7c;
  font-weight: 300;
}
.textColorLightGrey:hover {
  text-decoration: underline;
  color: #7c7c7c;
  font-weight: 300;
  cursor: pointer;
}
.textColorGray {
  color: #454443;
  font-size: 14px;
}
.provaPremiumNavbarDropdown {
  margin-left: 5px;
  color: #7c7c7c;
}
.provaPremiumNavbarDropdown:hover {
  color: #045fba;
  text-decoration: none;
}
.dropdownNavTu {
  .dropdown-menu.show {
    padding: 0;
    margin: 0;
    left: auto;
    right: 0;
    cursor: pointer;
  }
}
.dropdownMenuAziende {
  .dropdown-menu.show {
    width: 700px;
    padding: 0;
    margin: 0;
    left: auto;
    right: 0;
    cursor: pointer;
  }
  .dropdown-item {
    margin-bottom: 20px;
  }
  .scopriAltro {
    border-left: 1px solid #e0e0e0;
  }
  .col-6 {
    padding-inline: 20px;
  }
  a.font-weight-bold.dropdown-item {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
  }
}

.hoverColorBlack {
  color: #717171;
}
.hoverColorBlack:hover {
  color: black;
  cursor: pointer;
  cursor: pointer;
}

.spanDropdownNavbar {
  color: #7c7c7c;
  font-size: 0.8em;
}

.subNavbar {
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.35);
  border-top: 1px solid #e9e9e9;
  position: fixed;
  top: 57px;
  z-index: 99;
  background-color: white;

  .lavoroSubNavbar {
    font-size: smaller;
    font-weight: 500;
  }
  button {
    margin-right: 10px;
  }
}

.subNavHide {
  box-shadow: none;
  transform: translateY(-100%);
  transition:
    box-shadow 667ms ease-in-out,
    transform 667ms ease-in-out,
    visibility 0s linear 667ms;
  visibility: hidden;
}
.subNavShow {
  transform: translateY(0);
  transition:
    box-shadow 667ms ease-in-out,
    transform 667ms ease-in-out,
    visibility 0s linear 0s;
  visibility: visible;
}

/* navbar fino a qui */

/* homepage da qui */
.divVisitatoriImpressioni {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
}
.textBlueLight {
  color: rgb(10, 102, 194);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
.underlineGray {
  border-bottom: 1px solid #e1e1e1;
}
button.bg-transparent.avviaUnPost.btn.btn-primary {
  color: gray;
  border: 1px solid #c2c2c2;
  width: 80%;
  margin-left: 10px;
  text-align: start;
  border-radius: 26px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
}
.contenutiNewPost {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.cardAvviaPost {
  padding: 1px 5px 13px;
  border-radius: 10px;
}
.fontSizeDodici {
  font-size: 12px;
}
.fontSizeQuattordici {
  font-size: 14px;
}

.imagePostHome {
  max-height: 400px;
  object-fit: contain;
}
.selezionaDropdownHomepage {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #616060;
  justify-content: flex-end;
  .buttonDropdown {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
}
.selezionaDropdownHomepage::before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  color: #c7c7c7;
  margin-right: 13px;
}
.congratulationsPost {
  button,
  button:hover {
    background-color: transparent;
    border: 1px solid grey;
    color: #000000bf;
    font-weight: 500;
    font-size: 14px;
  }
}
.postActionsColor {
  color: #000000bf;
}
.pubblicaModaleHome {
  background-color: #dedcdc;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.textareaModalHomepage {
  width: 100%;
  border: none;
  min-height: 300px;
}
.cardNotizieHome {
  .list-group {
    border: none;
  }
}
span.spanNovitaNotizie {
  background-color: #f9d1ae;
  color: #523a51;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}
.colorfontLightGray {
  color: #7c7c7c;
}
.paddingSedici {
  padding: 0 16px;
}
.dropdownfooterHome {
  background-color: transparent;
  border: none;
  color: #7f7f7f;
  font-weight: 300;
  font-size: 14px;
  padding: 0;
}
.divFooterHome {
  p {
    margin: 0;
  }
}
.divFooterHome {
  p:hover {
    color: #1766c2;
    text-decoration: underline;
  }
}

/* homepage fino a  qui */

.backgroundProfileImage {
  max-height: 201px;
}

.ProfileInformation {
  background-color: white;
  border-color: #dfdeda;
}

.ProfileInformation img {
  top: -100px;
  border-color: white;
  object-fit: cover;
}
.ProfileInformation .btn-aggiungi-sezione:hover {
  background-color: #ebf4fd;
  border-color: #004182;
  color: #004182;
  box-shadow: 0px 0px 0px 2px #004182;
}
.ProfileInformation .btn-disponibile-per:hover {
  background-color: #004182;
  border-color: #004182;
}
.ProfileInformation .btn-disponibile-per {
  background-color: #0a66c2;
}
.ProfileInformation .btn-altro:hover {
  background-color: #f3f3f3;
  color: black;
  box-shadow: 0px 0px 0px 2px black;
}
.ProfileInformation .bio {
  font-size: 14px;
  line-height: 20px;
}
.undeline {
  text-decoration: none;
}
.photocamera {
  cursor: pointer;
}
.pencil1 {
  cursor: pointer;
  transition: background-color, 500ms;
}

.pencil1:hover {
  background-color: #f3f3f3;
}

.ProfileInformation h2 {
  font-size: 16px;
  color: #666666;
}
.ProfileInformation h3 {
  font-size: 15px;
  color: #666666;
}
.ProfileInformation a {
  text-decoration: none;
  color: #1d72c7;
  font-size: 14px;
}
.ProfileInformation a:hover {
  text-decoration: underline;
}

.showAllActivity {
  transition: background-color, 500ms;
}
.showAllActivity h4 {
  font-size: 16px;
}

.showAllActivity:hover {
  background-color: #f3f3f3;
}
.DisponibileALavorare {
  background-color: #dde7f1;
}

.DisponibileALavorare h3 {
  font-size: 14px;
}
.DisponibileALavorare h2 {
  font-size: 14px;
}
.DisponibileALavorare a {
  text-decoration: none;
  color: #1d72c7;
  font-size: 14px;
}
.DisponibileALavorare a:hover {
  text-decoration: underline;
}
.pencil {
  width: 24px;
  height: 24px;
}
.fs-7 {
  font-size: 18px;
  line-height: 24px;
}
.fs-8 {
  font-size: 14px;
  line-height: 20px;
}
.fw-bold {
  font-weight: 600 !important;
}
.img-profiles {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 768px) {
  .rounded-md-pill {
    border-radius: 25px !important;
  }
}

.customDropdownBtn,
.customDropdownBtn.show {
  background-color: transparent;
  border: none;
}

.customDropdownBtn::after {
  display: none;
}
.customDropdownBtn.btn-primary {
  --bs-btn-active-bg: #f3f3f3;
}

.dropdownCustomExperience {
  .dropdown-menu.show {
    left: auto !important;
    right: 0 !important;
    cursor: pointer;
    box-shadow: 3px 7px 22px -7px rgba(0, 0, 0, 0.38);
  }
}
.dropdownItemExperience {
  font-weight: bold;
  font-size: 0.9em;
  color: #545454;
}

/* messaggistica */
.fixed {
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 2000;
}

label {
  font-size: 14px;
}

.dropdown-form:hover {
  color: black;
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px black;
}

.drowdown-item {
  font-size: 14px;
}
.drowdown-item:hover {
  background-color: #1967d2;
  color: white;
}
.modal-btn {
  background-color: #0a66c2;
}
.modal-btn:hover {
  background-color: #004182;
}
.modalProfiile {
  height: 500px;
}

.textP {
  font-size: 14px;
}
.textP2 {
  font-size: 10px;
}
.textTrasp {
  color: #33333370;
}
.hover {
  color: rgb(19, 159, 113);
  font-weight: bold;
  border-bottom: solid 1px rgb(19, 159, 113);
}
.divIntHover {
  width: 100px;
  height: 50px;
  text-align: center;
}
.divIntHover2 {
  width: 150px;
  height: 50px;
  text-align: center;
}
.hover2:hover {
  opacity: 50%;
  background-color: rgba(128, 128, 128, 0.171);
}
.hover:hover {
  opacity: 50%;
  background-color: rgba(128, 128, 128, 0.171);
}
div .btn-alert:hover {
  background-color: #edeff1;
  color: black;
  box-shadow: 0px 0px 0px 1px #000000;
}
div .AlertConsigliati {
  background-color: #f8fafd;
}
/* sidebar */

.sticky-md-advetisement {
  top: 120px;
}
@media screen and (min-width: 1020px) {
  .sticky-lg-advetisement {
    top: 130px !important;
  }
}
/* footer da qui */

.footerProfilePage {
  max-width: 1000px;
}

.list-group-item {
  background-color: transparent;
  border: none;
  color: #717171;
  font-size: 0.87em;
}
.list-group-item:hover {
  background-color: transparent;
  border: none;
  font-size: 0.87em;
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}
.fontPiccoloFooter {
  font-size: 0.8rem;
  color: #717171;
  text-decoration: none;
}

.dropdownLingueFooter {
  button {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
    color: #8f8f8f;
    font-weight: 600;
  }
}
.borderSolidFooter {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
}
.lineHeightFooter {
  line-height: 17px;
}

.copyFooter {
  font-size: 0.8rem;
  color: #8f8f8f;
}
.hoverblue:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}
/* footer fino a qui */
.my-modal .modal-content {
  background-color: #1b1f23;
}
.modTit {
  color: white;
}

/*JOBS PAGE START*/

.leftSideJobsPage {
  top: 73px;
}
.button-side {
  top: 250px;
}
.leftSideJobsPage h2 {
  font-size: 14px;
}

.exploreOpportunity h2 {
  font-size: 18px;
}
.exploreOpportunity p {
  font-size: 14px;
  color: #9b9b9b;
}

.exploreOpportunityCard a {
  color: #0f7be7;
}
.exploreOpportunityCard:last-of-type {
  border-bottom: 0 !important;
}
.exploreOpportunityCard h2 {
  font-size: 14px;
}
.exploreOpportunityCard h3 {
  font-size: 14px;
  color: grey;
}
.exploreOpportunityCard p {
  font-size: 12px;
  color: grey;
}
/*JOBS PAGE END*/
